@import "../variables";
@import "../mixins";

$img-height: 712px;

.page-hero {
    padding: 0 $grid-gutter-width/2 15px;

    height: 100vh;
    min-height: 500px;

    color: #fff;

    background-image: url(../img/bg-heropage-mob.jpg);
    background-color: $brand-color;
    background-size: cover;
    background-position: 50% 0;

    @include tabletUp() {
        background-image: url(../img/bg-heropage.jpg);
        height: $img-height;

        @include firstScreen() {
            height: 100vh;
        }

        @include retina2x() {
            background-image: url(../img/bg-heropage@2x.jpg)
        }
    }

    & > .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        margin: 0 auto;

        max-width: $content-width;
        min-height: 300px;
        height: calc(100vh - 95px);

        text-align: center;

        @include tabletUp() {
            height: calc(#{$img-height} - 170px);

            @include firstScreen() {
                height: calc(100vh - 170px);
            }

            &:after {
                content: "";
                position: absolute;
                width: 200px;
                height: 200px;

                bottom: 0;
                left: 0;
                transform: translateY(60px);

                background-image: url(../img/O.png);
                background-color: transparent;
                background-position: 0 0;
                background-size: contain;

                @include desktop() {
                    width: 331px;
                    height: 331px;
                    transform: translateY(125px);
                }

                @include retina2x() {
                    background-image: url(../img/O@2x.png)
                }
            }
        }

        .button {
            box-shadow: 0 3px 4px 0 rgba(36,0,71,0.4),
                        0 9px 10px 0 rgba(36,0,71,0.5);
        }
    }
}

.page-hero__block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
        margin: 20px 0;

        @include tabletUp() {
            margin-bottom: 60px;
        }
    }

    margin-top: auto;
}

.page-hero__title {
    font-size: 1.8em;
    margin-top: 0;

    @include tabletUp() {

        font-size: 3.125em;
    }
}

.page-hero__text {
    font-size: 1.3em;

    @include tabletUp() {
        font-size: 1.5em;
    }
}
