@import "../variables";
@import "../mixins";

.testimonials {
    position: relative;
    padding: 0 $grid-gutter-width/2;

    .wrap {
        position: relative;
        margin: 70px auto 40px;
        z-index: 10;

        max-width: #{$content-width - 60};

        @include tabletUp() {
            display: flex;
        }

        @include tablet() {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 70px;

        height: 1100px;
        width: 100%;

        background: linear-gradient(180deg, #3EFFFF 0%, #FFFFFF 100%);
        z-index: 0;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top:70px;

        z-index: 0;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 calc(38vh) calc(100vw);
        border-color: transparent transparent transparent #fff;
    }


}

.t-item {
    margin: 30px 0;

    @include tabletUp() {
        margin-right: 30px;
        width: 360px;

        &:last-child {
            margin-right: 0;
        }
    }

    @include tablet() {
        flex: 1 0 calc(50% - 30px);
        margin-right: 0;

        &:first-child {
            margin-right: 30px;
        }

        &:last-child {
            flex: 0 1 100%;
        }
    }

    &__head {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 90px;
        margin-bottom: 20px;

        &-logo {
            margin-right: 15px;
        }

        &-name,
        &-company {
            font-size: 1.0625em;
            font-weight: 700;
        }

        &-name {
            margin-top: 0;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        @include tabletUp() {
            justify-content: flex-start;
        }
    }

    &__quote {
        padding: 25px 35px 30px 40px;

        background: url(../svg/quote.svg) no-repeat scroll 16px 26px #fff;

        font-size: 0.9375em;
        line-height: 1.6;

        box-shadow: 0 3px 4px 0 rgba(36, 0, 71, 0.06),
        0 14px 23px 0 rgba(36, 0, 71, 0.08);
    }
}
